@page "/order-details{id:int}"
@inject Reservierungssoftware.Data.ReservierungDbContext DbContext
@inject NavigationManager NavigationManager

<h3>Order Details</h3>

@if(order == null)
{
	<p>Leading ...</p>
}
else
{
	<div class="card">
		<div class="card-header">
			Reservierungs Nr: @order.Id - @order.Customer.Name
		</div>
		<div class="card-body">
			<p><strong>Anreise:</strong> @order.Anreise</p>
			<p><strong>Abreise:</strong> @order.Abreise</p>
			<p><strong>Zimmerart:</strong> @order.ZTyp</p>
		</div>
	</div>
}

@code {
	[Parameter]
	public int id { get; set; }
	private Order order;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		// Include "packt" alle Informationen zur Reservierung hinzu
		// SingleOrDefault = von der gegebenen "Sammlung wird ID x rausgesucht
		order = DbContext.Orders 
		.Include(o => o.Customer)
		.SingleOrDefault(o => o.Id == id);
	}

	private void GoBack()
	{
		NavigationManager.NavigateTo("/orders");
	}
}
